form {
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 10px;
  margin-top: 50px;
  padding: 1rem;

  .address {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    mat-form-field {
      &:nth-child(1) {
        width: 50%;
      }
      &:nth-child(2) {
        width: 100%;
      }
      &:nth-child(3) {
        width: 50%;
      }
      &:nth-child(4) {
        flex: 1;
      }
    }
  }

  .info {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    mat-form-field {
      &:nth-child(odd) {
        width: 50%;
      }
      &:nth-child(even) {
        flex: 1;
      }
    }
  }
}
